* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.navbar {
  width: 90%;
  display: flex;
  margin-left: 5%;
  margin-top: 1%;
}

.flex_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 50px;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_column img {
  height: 200px;
  width: 400px;
  object-fit: cover;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.country-details-container {
  margin-left: 10px 0 0 8px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 0 0 50px 20px;
}
.detail {
  display: flex;
}
.country-details p:nth-child(2n),
.details-col p:nth-child(2n) {
  font-weight: 100 !important;
}
.country-details,
.details-col {
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.options-container {
  width: 30%;
}
.back-btn {
  background-color: transparent;
  border: none;
  font-size: 1rem;
}
.back-btn-container {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 30px;
  margin: 50px 0 50px 50px;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.1);
}
.country-full-detail-container {
  display: flex;
  column-gap: 5%;
  height: 400px;
}
.image-container {
  width: 43%;
  margin-left: 50px;
  height: inherit;
}
.full-details-img {
  width: 100%;
  height: 100%;
}
.full-details-container {
  width: 50%;
}
.sub-details {
  display: flex;
  column-gap: 20%;
  margin-bottom: 55px;
  margin-top: 50px;
  font-size: 1rem;
}
.details-col {
  display: flex;
  font-size: 1rem;
}
.border {
  margin-left: 1%;
}
.language {
  display: inline;
  margin-left: 1%;
}
a:link,
a:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
